%tr
  %td= l invoice.date
  %td= invoice.number
  %td.right= invoice.amount ? number_to_currency(invoice.amount) : '-'
  %td
    = link_to 'download', account_invoice_path(@account, invoice, :format => :pdf)
  %td
    \|
    = link_to 'drucken', [:print, @account, invoice], :method => :post
