%tr
  %td= l invoice.date
  %td
    = h invoice.account.module
    %small (#{link_to h(invoice.account.username), [invoice.account,:invoices] })
  %td.right= invoice.amount ? number_to_currency(invoice.amount) : '-'
  %td= invoice.number
  %td
    = link_to 'download', account_invoice_path(invoice.account, invoice, :format => :pdf)
    \|
    = link_to 'drucken', [:print, invoice.account, invoice], :method => :post