!!! XML
!!! Strict
%html{:xmlns => 'http://www.w3.org/1999/xhtml'}
  %head
    %title= h @page_title
    = stylesheet_link_tag 'screen'
  %body
    %ul
      %li= link_to 'Konten', :accounts
      %li= link_to 'IMAP-Accounts', :imap_accounts
      %li= link_to 'IMAP-Filter',   :imap_filters
    - flash.each do |type, message|
      %div{ :class => type }
        %p= message
    = yield