%tr
  %td= h account.module
  %td= h account.username
  %td.right= link_to account.invoices.count, [account, :invoices]
  %td
    = link_to 'bearbeiten', [:edit, account]
    \|
    = link_to 'löschen', account, :method => :delete, :confirm => 'Diesen Account mit allen Rechnungen löschen?'